[Unit]
Name=Demo Service
Description=This is a demo config file for SvcGuest.
Documentation=https://github.com/Jamesits/SvcGuest

[Service]
Type=simple
ExecStart=C:\Windows\System32\cmd.exe
